*,
*::after,
*::before {
    box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

/*tehnomart*/
address{
    font-style: normal;
}
.hidden{
    display: none;
    visibility: hidden;
}
body{
    font-family: 'Cuprum', sans-serif;
}
.warp-full{
    width: 100%;
}
.conteiner{
    width: 940px;
    margin: 0 auto;
}
.wrap-info{
    background: #293449;
}
.info-line{
    width: 100%;
    display: flex;
}
.logo{
    background: #EE3643;
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.logo::before, .logo::after{
    content:" ";
    width: 100%;
    display: block;
    position: absolute;
}
.logo::before{
    height: 1px;
    top: 0;
    background: #e64048;
}
.logo::after{
    height: 5px;
    bottom: -5px;
    background: #b52933;
}
.logo:active{
    background: #ba2732;
}
.logo:active::after{
    background: #8e1e26;
}
.logo img{
    margin-left: -2px;
}
/*Поиск*/
.search-form{
    width:270px;
    background-color: none;
    position: relative;
}
.search-form__input{
    background: none;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding-left: 42px;
    padding-right: 7px;
    background-image:  url("../img/icon-searchfind.svg");
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: calc(50% - 1px);
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.search-form__input::placeholder{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.search-form__input:hover{   
    background-image:  url("../img/icon-searchfind_hover.svg");
}
.search-form__input:focus{
    color: #000;
    background-color: #fff;
    background-image:  url("../img/icon-searchfind_focus.svg");
}
/*Информация о заказе*/
.booking-info{
    height: 42px;
    display: flex;
}
.booking-info__item{
    height: 100%;
    width: 150px;
   
}
.booking-info__link{
    color: #fff;
    padding-left: 43px;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: calc(50% - 1px);
    padding-top: 1px;
}
.booking-info__link.active{
    background-color: #EE3643 !important;

        /*костыль для соответствия по шаблону, дизайн не поддаётся логике*/
        width: 136px;
        margin-left: 14px;
        background-position-x: 12px;
        padding-left: 36px;
        /*конец*/
}
.booking-info__link.active:active{
    background-color: #EE3643 !important;

        /*костыль для соответствия по шаблону, дизайн не поддаётся логике*/
        width: 136px;
        margin-left: 14px;
        background-position-x: 12px;
        padding-left: 36px;
        /*конец*/
}

._link_market{
    background-image: url("../img/icon-bookmark.svg");
    background-position-y: 50%;
}
._link_cart{
    background-position-x: 26px;
    padding-left: 49px;
    background-image: url("../img/icon-cart.svg");
}
._link_market:hover{
    animation-duration: 0.2s;
    background-image: url("../img/icon-bookmark_hover.svg");
}
._link_cart:hover{
    animation-duration: 0.2s;
    background-image: url("../img/icon-cart_hover.svg");
}

.booking-info__link:active{
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}
._link_market:active{
    background-image: url("../img/icon-bookmark.svg");
    background-position-y: 50%;
}
._link_cart:active{
    background-position-x: 26px;
    padding-left: 49px;
    background-image: url("../img/icon-cart.svg");
}
.booking-order{
    background-color: #63a63e; /*не web цвет, будет отображатся другим цветом*/
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 1px;
    padding-top: 1px;
}
.booking-order:hover{
    animation-duration: 0.2s;
    background-color: #5fbb2d;
}
.booking-order:active{
    background-color: #63a63e;
    color: rgba(255, 255, 255, 0.5);
}
/*Информация о магазине*/
.wrap-desc{
    background-color: #f3f7f8;
    padding-bottom: 60px;
}
.info-block{
    padding-top: 46px;
    display: flex;
}

.info-desc{
    display: flex;
    width: 320px;
    margin-top: -3px;
    font-size: 16px;
    line-height: 24px;
    color: #EE3643;
    font-style: italic;
    font-family: 'Cuprum', arial, sans-serif;
    padding-left: 30px;    
}
.info-contact{
    display: flex;
    flex-direction: column;
    width: 270px;
}
.info-contact__tel{
    display: flex;
    width: 100%;
    height: 45px;
    border: 3px solid #fff;
    align-items: center;
    color: #EE3643;
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    padding-left: 36px;
}
.info-contact__tel::before{
    content: " ";
    width: 19px;
    height: 19px;
    background: url("../img/shape.svg") no-repeat center center;
    margin-right: 16px;
}
.info-contact__adress{
    display: flex;
    color: #32425C;
    font-size: 14px;
    font-weight: 24px;
    margin-top: 6px;
    justify-content: center;
}
.info-auth{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.info-auth-login{
    display: flex;
    justify-content: flex-end;
}
.info-auth-profile{
    display: flex;
    justify-content: flex-end;
}
.info-profile{
    display: flex;
    justify-content: center;
}
.info-auth__link{
    display: flex;
    align-items: center;
    height: 45px;
    background: #fff;
    font-size: 21px;
    line-height: 21px;
    min-width: 150px;
    justify-content: center;
}
.info-auth__link:hover{
    color: #EE3643;
}
.info-auth__link:active{
    color: #C5C5C5;
}
._link-in{
    min-width: 121px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position-x: 19px;
    background-position-y: 50%;    
    margin-right: 10px;
    padding-left: 18px;
}
._link-in:hover{
    background-image: url("../img/icon-login_hover.svg");
}
._link-in:active{
    background-image: url("../img/icon-login.svg");
}
._link-auth{
    min-width: 300px;
    background: url("../img/icon-user.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#000;
}
._link-auth:hover{
    background: url("../img/icon-user_hover.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit_hover.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#000;
}
._link-auth:active{
    background: url("../img/icon-user.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#C5C5C5;
}
.profile-list{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.profile-list__item{
    margin: 0 7px;
}
.profile-list__link{
    color: #32425C;
    font-size: 16px;
    line-height: 18px;
}
.profile-list__link:hover{
    color: #EE3643;
}
.profile-list__link:active{
    color: #C5C5C5;
}
.profile-list__delimer{
    display: block;
    background: #32425C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: 7px;
}
/*Навигация*/
.main-nagivation{
    margin-top: 43px;
}
.main-nav{
    min-height: 60px;
    display: flex;
    justify-content: center;
}
.main-nav__item{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background: #32425C;
}
.main-nav__link{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:0 28px;
    color: #fff;
    border-bottom: 5px solid #293449;
}
.main-nav__item:first-child .main-nav__link{
    margin-left: 25px;
}
.main-nav__item:last-child .main-nav__link{
    margin-right: 25px;
}
.main-nav__link:hover{
    background: #293449;
}
.main-nav__link:active{
    color: rgba(255, 255, 255, 0.5);
}
/*Футер*/
.wrap-footer-nav{
    background-color: #32425C;
}
.footer-info-line{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    height: 63px;
}
.secondary-nav{
    display: flex;
    justify-content: flex-end;
}
.second-nav{
    display: flex;
    margin-top: 41px;
}
.second-nav__item{
    margin:0 30px;
}
.second-nav__item:first-child{
    margin-left: 0;
}
.second-nav__item:last-child{
    margin-right: 0;
}
.second-nav__link{
    display: inline-block;
    color: #F1F5F7;
    font-size: 18px;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(241, 245, 247, 0);
}
.second-nav__link:hover{
    border-bottom: 1px solid #F1F5F7;
}
.second-nav__link:active{
    border-color:  rgba(241, 245, 247, 0);
    color: #F1F5F7;
    opacity: 0.5;
}
._info-line_output{
    margin-top: 29px;
    padding-bottom: 53px;
}
.footer-info-contact{
    font-size:18px;
    color: #F3F7F9;
    line-height: 24px;
}

.catalog-nav{
    display: flex;
    justify-content: flex-end;
}
.catalog-nav{
    display: flex;
    margin-top: 3px;
}
.catalog-nav__item{
    margin:0 30px;
}
.catalog-nav__item:first-child{
    margin-left: 0;
}
.catalog-nav__item:last-child{
    margin-right: 0;
}
.catalog-nav__link{
    display: inline-block;
    color: #FFD180;
    font-size: 18px;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(255, 209, 128, 0);
}
.catalog-nav__link:hover{
    border-bottom: 1px solid #FFD180;
}
.catalog-nav__link:active{
    border-color:  rgba(255, 209, 128, 0);
    opacity: 0.5;
}
.wrap-footer-links{
    background: #293449;
    padding-top: 35px;
    padding-bottom: 31px;
}
.copyright{
    width: 300px;
}
.copyright__info{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links_output{
    margin-left: -30px;
}
.social-links__item{
    margin: 0 2px;
}
.social-links__item:first-child{
    margin-left: 0;
}
.social-links__item:last-child{
    margin-right: 0;
}
.social-links__link{
    background-color:#212A3A;
    width: 41px;
    height: 41px;
    display: block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.social-links__link:hover{
    background-color: #EE3643;
}
._link-vk{
    background-image: url("../img/icon-vk.svg");
}
._link-fb{
    background-image: url("../img/icon-fb.svg");
}
._link-insta{
    background-image: url("../img/icon-insta.svg");
}
.answer-info{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.answer{
    font-size: 16px;
    line-height: 18px;
}
.answer:last-child{
    margin-right: 15px;
}
.answer__title{
    color: #fff;
}
.answer__link{
    color: #FFD180;
    display: inline-block;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(255, 209, 128, 0);
}
.answer__link:hover{
    border-bottom: 1px solid #FFD180;
}
.answer__link:active{    
    color: #EE3643;
    border-color:  rgba(238, 54, 67, 0);
}