*,
*::after,
*::before {
    box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
    margin: 0 auto;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}
/*popup*/
.popup{
    position: absolute;
}

/*tehnomart*/
address{
    font-style: normal;
}
.hidden{
    display: none;
    visibility: hidden;
}
body{
    font-family: 'Cuprum', sans-serif;
}
.warp-full{
    width: 100%;
}
.conteiner{
    width: 940px;
    margin: 0 auto;
}
.wrap-info{
    background: #293449;
}
.info-line{
    width: 100%;
    display: flex;
}
.logo{
    background: #EE3643;
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.logo::before, .logo::after{
    content:" ";
    width: 100%;
    display: block;
    position: absolute;
}
.logo::before{
    height: 1px;
    top: 0;
    background: #e64048;
}
.logo::after{
    height: 5px;
    bottom: -5px;
    background: #b52933;
}
.logo:active{
    background: #ba2732;
}
.logo:active::after{
    background: #8e1e26;
}
.logo img{
    margin-left: -2px;
}
/*Поиск*/
.search-form{
    width:270px;
    background-color: none;
    position: relative;
}
.menu-search-form{
    display: none;
}
.search-form__input{
    background: none;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding-left: 42px;
    padding-right: 7px;
    background-image:  url("../img/icon-searchfind.svg");
    background-repeat: no-repeat;
    background-position-x: 17px;
    background-position-y: calc(50% - 1px);
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.search-form__input::placeholder{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.search-form__input:hover{   
    background-image:  url("../img/icon-searchfind_hover.svg");
}
.search-form__input:focus{
    color: #000;
    background-color: #fff;
    background-image:  url("../img/icon-searchfind_focus.svg");
}
/*Информация о заказе*/
.booking-info{
    height: 42px;
    display: flex;
}
.booking-info__item{
    height: 100%;
    width: 150px;
   
}
.booking-info__link{
    color: #fff;
    padding-left: 43px;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: calc(50% - 1px);
    padding-top: 1px;
}
.booking-info__link.active{
    background-color: #EE3643 !important;

        /*костыль для соответствия по шаблону, дизайн не поддаётся логике*/
        width: 136px;
        margin-left: 14px;
        background-position-x: 12px;
        padding-left: 36px;
        /*конец*/
}
.booking-info__link.active:active{
    background-color: #EE3643 !important;

        /*костыль для соответствия по шаблону, дизайн не поддаётся логике*/
        width: 136px;
        margin-left: 14px;
        background-position-x: 12px;
        padding-left: 36px;
        /*конец*/
}

._link_market{
    background-image: url("../img/icon-bookmark.svg");
    background-position-y: 50%;
}
._link_cart{
    background-position-x: 26px;
    padding-left: 49px;
    background-image: url("../img/icon-cart.svg");
}
._link_market:hover{
    animation-duration: 0.2s;
    background-image: url("../img/icon-bookmark_hover.svg");
}
._link_cart:hover{
    animation-duration: 0.2s;
    background-image: url("../img/icon-cart_hover.svg");
}

.booking-info__link:active{
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}
._link_market:active{
    background-image: url("../img/icon-bookmark.svg");
    background-position-y: 50%;
}
._link_cart:active{
    background-position-x: 26px;
    padding-left: 49px;
    background-image: url("../img/icon-cart.svg");
}
.booking-order{
    background-color: #63a63e; /*не web цвет, будет отображатся другим цветом*/
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 1px;
    padding-top: 1px;
}
.booking-order:hover{
    animation-duration: 0.2s;
    background-color: #5fbb2d;
}
.booking-order:active{
    background-color: #63a63e;
    color: rgba(255, 255, 255, 0.5);
}
/*Информация о магазине*/
.wrap-desc{
    background-color: #f3f7f8;
    padding-bottom: 60px;
}
.info-block{
    padding-top: 46px;
    display: flex;
}

.info-desc{
    display: flex;
    width: 320px;
    margin-top: -3px;
    font-size: 16px;
    line-height: 24px;
    color: #EE3643;
    font-style: italic;
    font-family: 'Cuprum', arial, sans-serif;
    padding-left: 30px;    
}
.info-contact{
    display: flex;
    flex-direction: column;
    width: 270px;
}
.info-contact__tel{
    display: flex;
    width: 100%;
    height: 45px;
    border: 3px solid #fff;
    align-items: center;
    color: #EE3643;
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    padding-left: 36px;
}
.info-contact__tel::before{
    content: " ";
    width: 19px;
    height: 19px;
    background: url("../img/shape.svg") no-repeat center center;
    margin-right: 16px;
}
.info-contact__adress{
    display: flex;
    color: #32425C;
    font-size: 14px;
    font-weight: 24px;
    margin-top: 6px;
    justify-content: center;
}
.info-auth{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.info-auth-login{
    display: flex;
    justify-content: flex-end;
}
.info-auth-profile{
    display: flex;
    justify-content: flex-end;
}
.info-profile{
    display: flex;
    justify-content: center;
}
.info-auth__link{
    display: flex;
    align-items: center;
    height: 45px;
    background: #fff;
    font-size: 21px;
    line-height: 21px;
    min-width: 150px;
    justify-content: center;
}
.info-auth__link:hover{
    color: #EE3643;
}
.info-auth__link:active{
    color: #C5C5C5;
}
._link-in{
    min-width: 121px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position-x: 19px;
    background-position-y: 50%;    
    margin-right: 10px;
    padding-left: 18px;
}
._link-in:hover{
    background-image: url("../img/icon-login_hover.svg");
}
._link-in:active{
    background-image: url("../img/icon-login.svg");
}
._link-auth{
    min-width: 300px;
    background: url("../img/icon-user.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#000;
}
._link-auth:hover{
    background: url("../img/icon-user_hover.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit_hover.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#000;
}
._link-auth:active{
    background: url("../img/icon-user.svg") no-repeat 16px calc(50% - 1px),
                url("../img/icon-login-exit.svg") no-repeat calc(100% - 17px) 50%;
    background-color: #fff;
    color:#C5C5C5;
}
.profile-list{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.profile-list__item{
    margin: 0 7px;
}
.profile-list__link{
    color: #32425C;
    font-size: 16px;
    line-height: 18px;
}
.profile-list__link:hover{
    color: #EE3643;
}
.profile-list__link:active{
    color: #C5C5C5;
}
.profile-list__delimer{
    display: block;
    background: #32425C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: 7px;
}
/*Навигация*/
.main-nagivation{
    margin-top: 43px;
}
.main-nav{
    min-height: 60px;
    display: flex;
    justify-content: center;
}
.main-nav__item{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background: #32425C;
}
.main-nav__link{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:0 28px;
    color: #fff;
    border-bottom: 5px solid #293449;
}
.main-nav__item:first-child .main-nav__link{
    margin-left: 25px;
}
.main-nav__item:last-child .main-nav__link{
    margin-right: 25px;
}
.main-nav__link:hover{
    background: #293449;
}
.main-nav__link:active{
    color: rgba(255, 255, 255, 0.5);
}
/*Футер*/
.wrap-footer-nav{
    background-color: #32425C;
}
.footer-info-line{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    height: 63px;
}
.secondary-nav{
    display: flex;
    justify-content: flex-end;
}
.second-nav{
    display: flex;
    margin-top: 41px;
}
.second-nav__item{
    margin:0 30px;
}
.second-nav__item:first-child{
    margin-left: 0;
}
.second-nav__item:last-child{
    margin-right: 0;
}
.second-nav__link{
    display: inline-block;
    color: #F1F5F7;
    font-size: 18px;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(241, 245, 247, 0);
}
.second-nav__link:hover{
    border-bottom: 1px solid #F1F5F7;
}
.second-nav__link:active{
    border-color:  rgba(241, 245, 247, 0);
    color: #F1F5F7;
    opacity: 0.5;
}
._info-line_output{
    margin-top: 29px;
    padding-bottom: 53px;
}
.footer-info-contact{
    font-size:18px;
    color: #F3F7F9;
    line-height: 24px;
}

.catalog-nav{
    display: flex;
    justify-content: flex-end;
}
.catalog-nav{
    display: flex;
    margin-top: 3px;
}
.catalog-nav__item{
    margin:0 30px;
}
.catalog-nav__item:first-child{
    margin-left: 0;
}
.catalog-nav__item:last-child{
    margin-right: 0;
}
.catalog-nav__link{
    display: inline-block;
    color: #FFD180;
    font-size: 18px;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(255, 209, 128, 0);
}
.catalog-nav__link:hover{
    border-bottom: 1px solid #FFD180;
}
.catalog-nav__link:active{
    border-color:  rgba(255, 209, 128, 0);
    opacity: 0.5;
}
.wrap-footer-links{
    background: #293449;
    padding-top: 35px;
    padding-bottom: 31px;
}
.copyright{
    width: 300px;
}
.copyright__info{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.social-links{
    display: flex;
    justify-content: center;
}
.menu-social-links{
    display: none;
}
.social-links_output{
    margin-left: -30px;
}
.social-links__item{
    margin: 0 2px;
}
.social-links__item:first-child{
    margin-left: 0;
}
.social-links__item:last-child{
    margin-right: 0;
}
.social-links__link{
    background-color:#212A3A;
    width: 41px;
    height: 41px;
    display: block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.social-links__link:hover{
    background-color: #EE3643;
}
._link-vk{
    background-image: url("../img/icon-vk.svg");
}
._link-fb{
    background-image: url("../img/icon-fb.svg");
}
._link-insta{
    background-image: url("../img/icon-insta.svg");
}
.answer-info{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.answer{
    font-size: 16px;
    line-height: 18px;
}
.answer:last-child{
    margin-right: 15px;
}
.answer__title{
    color: #fff;
}
.answer__link{
    color: #FFD180;
    display: inline-block;
    line-height: 0.9;
    border-bottom: 1px;
    border-color:  rgba(255, 209, 128, 0);
}
.answer__link:hover{
    border-bottom: 1px solid #FFD180;
}
.answer__link:active{    
    color: #EE3643;
    border-color:  rgba(238, 54, 67, 0);
}
/*Каталог*/
.part-catalog{
    margin-top: 59px;
}
.catalog-links{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;    
}
.catalog-links__item-device{
    display: flex;
    flex-direction: column;
    height: 123px;
}
.catalog-links__name{
    margin-top: 22px;
    margin-left: 23px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
.catalog-links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    margin-top: 15px;
    margin-left: 23px;
}
._device-1{
    background: url("../img/icon-1.svg") no-repeat 213px 31px;
    background-color: #FFBF47;
}
._device-2{
    background: url("../img/icon-2.svg") no-repeat 194px 34px;
    background-color: #3BBCE3;
}
._device-3{
    background: url("../img/icon-3.svg") no-repeat 191px 31px;
    background-color: #DC91D8;
}
._device-4{
    background: url("../img/icon-4.svg") no-repeat 196px 26px;
    background-color: #8ED78F;
}
._device-5{
    background: url("../img/icon-5.svg") no-repeat 191px 32px;
    background-color: #FFC047;
}
.catalog-links__link:hover{
    background-color: rgba(197, 197, 197, 0.3);
}
.catalog-links__link:active{
    background-color: rgba(169, 169, 169, 0.3);
}
.catalog-links__item{
    position: relative;
    overflow: hidden;
}
.catalog-links__item:nth-child(4n){
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 3;  
}
.catalog-links__item:nth-child(5n){
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 3;  
}
.catalog-links__item:nth-child(6n){
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
}
.new:after{
    content: "NEW";
    position: absolute;
    top: 8px;
    right: -27px;
    background-color: #EE3643;
    color: #fff;
    font-size: 14px;
    padding-top: 2px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    transform: rotate(45deg);
}

.catalog-links__item-slider{
    height: 266px;
}
.main-slider{
    position: relative;
}
.slider__item{
    width: 620px;
    height: 266px;
    position: relative;
    /*overflow: hidden;*/
}
.slider__img{
    position: absolute;
    top:0;
    left:0;
}
.slider__name{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    width: 100%;
}
.slider__name h3{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.slider__name p{
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}
.btn-base{
    background-color: #EE3643;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    height: 38px;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; 
}
.btn-base:hover{
    background-color: #CA2C37;
}
.btn-base:active{
    background-color: #BA2732;
}
.slider__link{
    margin-top: 114px;
}
.slider-arrow__btn, .slick-arrow{
    position: absolute;
    top: calc(50% - 11px);
    width: 22px;
    height: 40px;
    background: url("../img/icon-left-arrow.svg") no-repeat center center;
    text-indent: -9999px;
}
.slider-arrow__btn-prev, .slick-prev{
    z-index: 1000;
    left: 24px;
}
slick-prev slick-arrow
.slider-arrow__btn-next, .slick-next{
    right: 24px;
    transform: rotate(180deg);
}
.slider-nav{
    position: absolute;
    bottom: 36px;
    width: 100px;
    left: calc(50% - 50px);
    display: flex;
    justify-content: center;
}
.slider-nav li, .slider-nav__item{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    margin: 0 5px;
    text-indent: -9999px;
    cursor: pointer;
}
.slider-nav__item.active, li.slick-active{
    background-color: #EE3643;
}






/*популярные товары*/
.title-content{
    background-color: #F9F5F0;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-content h2{
    color: #32425C;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 28px;
}
.title-content__btn{
    margin-right: 14px;
}

.part-popular-products{
    margin-top: 39px;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product__item{
    border: 1px solid #EAEAEA;
    min-height: 318px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    overflow: hidden;
}
/*временный костыль для демопродукции*/
.product__img img{
    margin-top: -5px;
    margin-left: -10px;
}
/*конец*/

.product__item h3{
    font-family: "PT Sans";
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    justify-content: stretch;
}
.product__price-old{
    font-family: "PT Sans";
    font-size: 17px;
    color: #A9A9A9;
    font-weight: 700;    
    line-height: 18px;
    margin-bottom: 5px;
    position: relative;
    min-height: 18px;
}
/*На шаблоне подчркивание в нижней части, не подходит text-decoration: line-through*/
.product__price-old:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
    position: absolute;
    top: 63%;
}

.product__price{
    background-color: #EE3643;
    height: 38px;
    width: 122px;
    color: #fff;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius: 3.5px;
    padding-left: 10px;
    margin-left: -3px;
    margin-bottom: 20px;
}
.product__price:after{
    content: "";
    width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-left: 20px solid #EE3643;
	border-bottom: 19px solid transparent;
    position: absolute;
    right:-20px;
}
.product-links{
    position: absolute;
    visibility: hidden;
}

.product__item:hover{
    visibility: visible;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}
.product__item:hover .product-links{
    visibility: visible;
}

.product-links{
    width: 100%;
    height: 170px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-links__link-buy{
    display: flex;
    align-items: center;
    width: 135px;
    height: 38px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 -3px 0 0 #367315 inset;
    border-radius: 2px;
    padding-left: 50px;
    background: url(../img/icon-cart.svg) no-repeat;
    background-position: 26px 10px;
    background-color: #63A63E;
}
.product-links__link-buy:hover{
    background-color: #5FBB2D;
}
.product-links__link-buy:active{
    background-color: #518534;
}
.product-links__link-marker{
    display: flex;
    align-items: center; 
    justify-content: center;   
    width: 135px;
    height: 38px;
    color: #32425C;
    text-transform: uppercase;
    border: 3px solid #63A63E;
    border-radius: 2px;
}
.product-links__link-marker:hover{
    border-color: #32425C;
}
.product-links__link-marker:active{
    border-color: #32425C;
    color: #32425C;
    opacity: 0.5;
}
.product-links__link:first-child{
    margin-top: 37px;
    margin-bottom: 10px;
}
/*Популярные производители*/
.part-popular-company{
    margin-top: 70px;
}

.company{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    min-height: 329px;
}

.company__item{
    height: 145px;
    width: 220px;
}
.company__link{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #EAEAEA;
}
.company__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.company__item:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}
.company__item:active{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.5;
}
/*Сервис*/
.wrap-service{ 
    background-color: #F1F5F7;
    margin: 0 auto;
    padding-top: 65px;
    margin-top: 51px;
    padding-bottom: 4px;
}
.service-desc{

}
.content-title h2{
    color: #000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.content-title__desk, .company-content__desk{
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    font-style: normal;
    margin-top: 24px;
}
.company-content__desk{
    line-height: 26px;
}
.service-tabs{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.tab-links{
    display: flex;
    flex-direction: column;
    min-width: 240px;
    height: 279px;
    position: relative;
    justify-content: center;
}
.tab-links:after{
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    width: 10px;
    background: url(../img/shadow-right.svg) no-repeat 100% 50%;
    height: 100%;
}   
.tab-links__btn{
    height: 62px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 22px;
    padding-bottom: 2px;
    background: #32425C;
    box-shadow: 0px 1px 0px #293449, 0px 1px 0px #405069 inset;
    color: #fff;
}
.tab-links__btn:hover{
    background: #293449;
}
.tab-links__btn:disabled{
    background: #fff;
    color: #32425C;
    box-shadow: none;
}
.tab-contents{
    margin-left: 80px;
    margin-top: 45px;
    width: 100%;
    min-height: 282px;
    position: relative;
}
.tab-contents__item img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.tab-contents_garant img{
    right: -8px;
}
.tab-contents_credit img{
    right: -8px;
}
.tab-contents__item h3{
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.tab-contents__item p{
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}
/*О компании*/
.part-aboutus{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    margin-bottom: 69px;
}
.transport-lines{
    margin-top: 1px;
}
.transport-lines__item{
    font-size: 18px;
 
    color: #000;
    padding-left: 38px;
    position: relative;
    margin-top: 15px;
}
.transport-lines__item:first-child{
    margin-top: 0;
}
.transport-lines__item:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #EE3643;
    left: 0;
    top: 12px;
}
/*Костыль, что бы соответствовать макету*/
.transport-lines__item:nth-child(2)::before{top: 10px;}
.transport-lines__item:nth-child(3)::before{top: 8px;}
/*конец*/

.about-company__btn{
    width: 220px;
    margin-top: 21px;
}

.contacts-content{
    margin-top: 32px;
}
.contacts-content__btn{
    width: 100%;
    margin-top: 19px;
}
.tab-contents__btn{
    background-color: #FF5357;
    border-radius: 2px;
    margin-top: 24px;
}

.popup{
    border-top: 7px solid #ee3643;
    position: relative;
    display: none;
}
.popup__close, .fancybox-close{
    position: absolute;
    top: 21px;
    right: 11px;
    width: 21px;
    height: 21px;
    background: url(../img/close.svg) no-repeat center center;
    z-index: 1100;
    transition-duration: 0.3s;
}
.popup__close:hover, .fancybox-close:hover{
    transition-duration: 0.3s;
    transform: rotate(45deg);
}

.feedback-form{
    display: flex;
    flex-direction: column;
}

.feedback-form-wrap-field{
    margin: 0 80px;
    margin-top: 26px;
    width: 460px;
}
.feedback-form-wrap{
    display: flex;
    justify-content: space-between;
}
.feedback-form fieldset{
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 0;
    margin-top: 14px;
    padding: 0;
}
.feedback-form-wrap fieldset{
    min-width: 216px;
}
.feedback-form__label{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-left: 2px;    
}
.feedback-form__name, .feedback-form__email, .feedback-form__text{
    margin-top: 10px;
    height: 38px;
    width: 220px;
    border: 2px solid #C5C5C5;
    border-radius: 2px;
    font-family: "PT Sans";
    font-size: 13px;
    color: #000;
    padding-left: 10px;
}
.feedback-form__text{
    padding-top: 10px;
}

.feedback-form__name::placeholder,
.feedback-form__email::placeholder,
.feedback-form__text::placeholder{
    font-family: "PT Sans";
    font-size: 13px;
    color: #A9A9A9;
}

.feedback-form__text{
    width: 100%;
    height: 114px;
}
.feedback-form-wrap-btn{
    background-color: #f4f4f4;
    width: 100%;
    padding: 37px 0;
    margin-top: 37px;
    display: flex;
    justify-content: center;
}
.feedback-form__btn{
    width: 460px;
}
/*breadcrumbs*/
.breadcrumbs{
    display: flex;
    margin-top: 19px;
    margin-bottom: 20px;
}
.breadcrumbs__item{
    padding-right: 26px;
    padding-left: 17px;
    background: url(../img/icon-right-small.svg) no-repeat center right;
}
.breadcrumbs__item:first-child{
    padding-right: 23px;
    padding-left: 0;
}
.breadcrumbs__item:last-child{
    padding-right: 0;
    background: none;
}

.breadcrumbs__link{
    font-family: "PT Sans";
    font-size: 13px;
    text-transform: uppercase;
    line-height: 18px;
    color: #000;
}
.breadcrumbs__link-home{
    display: block;
    width: 14px;
    height: 100%;
    background: url(../img/icon-home.svg) no-repeat center center;
}

.title-content .secondpage{
    background-color: #F2F6F8;
}
.title-content .secondpage h2{
    color: #32425C;
}
.wrap-filter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.part-filter{
    width: 220px;
}
.part-filter-result{
    width: 700px;
}
/*Filter*/
.sort-caption{
    height: 38px;
    background-color: #F7F3EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-caption h3{
    font-family: "PT Sans";
    font-size: 13px;
    text-transform: uppercase;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    margin-left: 18px;
}
.filter-form{
    margin-top: 13px;
}
.filter-form__select{
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-form__select:nth-last-child(-n+2){
    border-bottom: 0;
}
.filter-form__select:last-child{
    border-bottom: 0;
}
.filter-form__select legend{
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-left: 0;
    padding-left: 0;
}
.filter-form__select-price{
    margin: 0;
}
.filter-form__range{
    margin-top: 12px;
}
.filter-form__range-scale{
    background-color: #F7F3EC;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.filter-form__range-interval{
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}
.price-interval-min, .price-interval-max{
    height: 38px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-form__range-input{
    height: 38px;
    width: 95px;
    border: 0;
    background-color: #F7F3EC;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    weight: 400;
    font-size: 17px;
    line-height: 18px;
}
.price-interval-line{
    margin-top: 10px;
}

.filter-form__range-handle{
    width: 20px;
    height: 20px;
    background-color: #ABABAB;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 2px 1px 0 #ABABAB;
    position: absolute;
    cursor: pointer;
}
.filter-form__range-handle-max{
    left: 73%;
}
.filter-form__range-bar{
    width: calc(100% - 40px);
    height: 2px;
    background-color: #D7DCDE;
    position: absolute;
}
.filter-form__range-bar-selected{
    height: 2px;
    background-color: #00ca74;
    width: 85%;
}
.filter-form__checkbox-list{
    margin-top: 16px;
    margin-bottom: 1px;
}
.filter-form__checkbox-list li{
    display: flex;
    margin-top: 16px;
    align-items: center;
    position: relative;
}
.filter-form__checkbox-list li:first-child{
    margin-top: 0;
}
.filter-form__checkbox{
    display: none;
    position: absolute;    
    left: 0;
    top:0;
}
.filter-form__checkbox-label{
    display: block;
    height: 23px;
    background: url(../img/checkbox-off.svg) no-repeat left center;
    padding-left: 35px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6;
    font-family: "PT Sans";
}
.filter-form__checkbox-label:hover{
    background: url(../img/checkbox-off-over.svg) no-repeat left center;
}
.filter-form__checkbox-label:disabled{
    background: url(../img/checkbox-off-disabled.svg) no-repeat left center;
}
.filter-form__checkbox:checked + .filter-form__checkbox-label{
    background: url(../img/checkbox-on.svg) no-repeat left center;
}
.filter-form__checkbox:checked + .filter-form__checkbox-label:hover{
    background: url(../img/checkbox-on-over.svg) no-repeat left center;
}
.filter-form__checkbox:checked + .filter-form__checkbox-label:disabled{
    background: url(../img/checkbox-on-disabled.svg) no-repeat left center;
}

.filter-form__select-power{
    margin-top: 17px;
}
.filter-form__radio-list{
    margin-top: 22px;   
}
.filter-form__radio-list li{
    display: flex;
    margin-top: 16px;
    align-items: center;
    position: relative;
}
.filter-form__radio-list li:first-child{
    margin-top: 0;
}
.filter-form__radio{
    display: none;
    position: absolute;    
    left: 0;
    top:0;
}
.filter-form__radio-label{
    display: block;
    height: 25px;
    background: url(../img/radio-off.svg) no-repeat left center;
    padding-left: 35px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6;
    font-family: "PT Sans";
}
.filter-form__radio-label:hover{
    background: url(../img/radio-off-over.svg) no-repeat left center;
}
.filter-form__radio-label:disabled{
    background: url(../img/radio-off-disabled.svg) no-repeat left center;
}
.filter-form__radio:checked + .filter-form__radio-label{
    background: url(../img/radio-on.svg) no-repeat left center;
}
.filter-form__radio:checked + .filter-form__radio-label:hover{
    background: url(../img/radio-on-over.svg) no-repeat left center;
}
.filter-form__radio:checked + .filter-form__radio-label:disabled{
    background: url(../img/radio-on-disabled.svg) no-repeat left center;
}
.filter-form__btn{
    height: 38px;
    border: 1px solid #E5E5E5;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #fff;
    width: 100%;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000;
    margin-top: 9px;
}

.filter-form__btn:hover{
    border: 1px solid #C5C5C5;
}

.sort-form{
    display: flex;
    align-items: center;
    margin-top: -2px; 
}
.sort-form__groups{
    width: 380px;
    margin-right: 20px;
}
.sort-form__groups li{
    position: relative;
    display: inline-block;
    margin-left: 65px;    
}
.sort-form__groups li:first-child{
    margin-left: 0;
}
.sort-form__groups-radio{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.sort-form__groups-radio-label{
    font-family: "PT Sans";
    font-size: 13px;
    text-transform: uppercase;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;

    cursor: pointer;
    border-bottom: 1px dotted #EE3643;
}
.sort-form__groups-radio-label:hover{
    color: #000;    
    border-bottom: 1px solid #EE3643;
}
.sort-form__groups-radio:checked + .sort-form__groups-radio-label{
    color: #EE3643;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.sort-form__orderby{
    display: flex;
    width: 60px;
}
.sort-form__orderby li{
    position: relative;
    width: 30px;
}
.sort-form__orderby-radio{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.sort-form__orderby-label{
    display: block;
    width: 11px;
    height: 10px;
    cursor: pointer;
    background: url(../img/icon-dir-up.svg) no-repeat center center;
}
.sort-form__orderby-label:hover{
    background: url(../img/icon-dir-up-hover.svg) no-repeat center center;
}
.sort-form__orderby-radio:checked + .sort-form__orderby-label{
    background: url(../img/icon-dir-up-active.svg) no-repeat center center;
}
.sort-form__orderby-desk{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.product-list{
    margin-top: 28px;
    display: grid;
    row-gap: 18px;
    grid-template-columns: auto auto auto;   
}
.pagination{
    margin-top: 48px;
    display: flex;
}
.pagination__item{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}
.pagination__item:last-child{
    margin-right: 0;
}
.pagination__btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    height: 38px;
    min-width: 38px;
}
.pagination__btn.current{
    background-color: #EE3643;
    border: 1px solid #EE3643;
    color: #fff;
}
.pagination__btn.next{
    padding: 0 31px;
}
.pagination__btn:hover{
    border: 1px solid #C5C5C5;
}
.pagination__btn:active{
    border: 1px solid #EE3643;
}
.wrap-service.second{
    margin-top: 59px;
    padding-bottom: 70px;
}
.cart-information{
    width: 620px;
    padding-top: 47px;
    padding-bottom: 49px;
}
.cart-information, .cart-operation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.succes{
    width: 66px;
    height: 66px;
    background: url(../img/icon-mark.svg) no-repeat center center;
    border-radius: 50%;
    background-color: #63A63E;
}
.cart-information__icon{
    margin-left: -30px;
    margin-right: 30px;
}
.cart-information__info{
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
}
.cart-operation{
    height: 110px;
    background-color: #F1F1F1;
}
.cart-operation .btn-base{
    margin: 0 5px;
}
.button-menu-creation{
    display: none;
}

.menu-checker{
    display: none;
}
.full-background{
    background-color: #000;
    opacity: 0.7;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    display: none;
}

@media(max-width:939px) {

    .main-nagivation{        
        position: absolute;
        flex-direction: column;
        top: 0;
        margin: 0;
        height: auto;
        z-index: 1000;
        padding: 20px;
        background: #32425C;
        width: 300px;
        left: -300px;
        transition: left .3s;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu-creation{
        color: #fff;
        padding: 5px;
        position: absolute;
        top: 6px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 900;
        width: 42px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .btn-menu-creation span{
        display: block;
        height: 2px;
        background-color: #fff;
        margin: 7px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn-menu-creation span.first{
        margin-top: 0;
    }

    .main-nagivation2::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        opacity: 0.3;
    }
    .menu-checker:checked ~ .btn-menu-creation{
        left: 310px;
    }
    .menu-checker:checked ~ .full-background{
        display: block;
    }
    .menu-checker:checked ~ .main-nagivation{
        left: 0;
    }
    .menu-checker:checked ~ .btn-menu-creation span.first{
        -webkit-transform: rotate(45deg);
        top: 8px;
    }
    .menu-checker:checked ~ .btn-menu-creation span.second{
        opacity: 0;
    }
    .menu-checker:checked ~ .btn-menu-creation span.third{
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }
    .main-nav{
        margin-top: 20px;
        flex-direction: column;
    }
    .main-nav__item{
        height: 48px;
    }
    .main-nav__item, .main-nav__link{
        justify-content: flex-start;     
    }
    .main-nav__link{
        border-bottom-width: 1px;
    }
    .main-nav__item:first-child .main-nav__link{
        margin-left: 0;
    }
    .main-nav__item:last-child .main-nav__link{
        margin-right: 0;
        border: 0;
    }
    .search-form{
        height: 42px;
        width: auto;
        background-color: #293449;
    }
    .menu-search-form{
        display: block;
    }
    .social-links__item{
        margin: 10px 5px;
        margin-top: 30px;
    }
    .menu-social-links{
        display: flex;
    }
    .menu-social-links .social-links__link{
        background-color: #293449;
    }
    .social-links_output{
        margin: 0;
    }
    .info-line{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .logo{
       width: 100%;
       height: 42px;
       border: 0;

       grid-column-start: 1;
       grid-column-end: 4;
    }
    .logo::before{
        height: 0px;
    }
    .logo::after{
        height: 0;
    }

    .booking-order{width: 100%; height: 42px;}
    .wrap-desc{padding: 0;}
    .info-block{
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;   
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .info-desc{
        width: auto;
    }
    .info-auth{
        flex-grow: inherit;
    }
    .info-auth-login{
        flex-direction: column;
    }
    .info-auth__link{
        height: 42px;
        width: 170px;
        margin: 0 auto;
    }
    .info-auth__link:last-child{
        margin-top: 5px;
    }

    body, .conteiner{
        width: 100%;
    }
    main{
        display: none;
    }
    .footer-info-line{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        text-align: center;
    }
    .second-nav{
        margin-top: 20px;
    }    
    .secondary-nav{
        justify-content: center;
    }
    .footer-info-contact{
        text-align: center;
    }
    .catalog-nav{
        justify-content: center;
        margin-top: 15px;
    }
    ._info-line_output{
        padding-bottom: 25px;
    }
    ._info-line_output-foot{
        display: grid;
        grid-template-columns: 1fr;
    }
    .answer-info{
        grid-row-start: 2;
        grid-row-end: 1;
        margin: 0 auto;
    }
    .copyright{ 
        width: auto;
        margin-top: 20px;   
    }
    .social-links__item{
        margin-top: 40px;
    }
}
@media(max-width:767px) {
    .info-line {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .search-form{
        width: 100%;
        grid-column: 1 / span 3;
        background-color: #212A3A;
    }
    .booking-info{
        grid-column: 1 / span 3;
        justify-content: center;
    }
    .info-block{
        padding-top: 0;
        padding-bottom: 25px;
        display: flex;
        -webkit-justify-content: space-around; /* Safari */
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .info-desc, .info-contact, .info-auth{
        padding-top: 25px;
    }
    .second-nav{
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
    }
    .second-nav__item{
        margin: 10px;
    }

    .footer-info-line {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .catalog-nav{
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
    }

    .catalog-nav__item{
        margin: 10px;
    }
    .answer-info{
        width: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .answer{
        margin: 10px;
    }

}

